 html, body{
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 48px;
    font-weight: 500;
}

.loan_form{
   max-width: 500px;
   margin: auto;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 20px;
}

label.basic-label{
    text-align: left;
    display: block ;
    padding:10px 10px;
}

.first.input-group-addon{
    width: 142px;
    text-align: left;
}
.btn.btn-success{
    padding: 10px;
    margin: 10px;
}

label.error{
    color: red;
    display: block;
    background-color: #eee;
    border-bottom: 1px solid #ccd0d2;
    margin: 0px;
}

.alert.alert-danger{
    margin: 10px 0px !important;
     color: #000 !important;
    font-weight: 400;
}

input{ 
    font-size: 20px !important;
}
input,p{
    color: #000 !important;
    font-weight: 400;
}

 a.btn-primary{
    color: #000;
    font-weight: 400;
 }

p.rtitle{
    font-weight: 600; 
    font-size: 16px;
}

@media (max-width: 780px) {
    .title{
        font-size: 24px;
    }

    .m-b-md{
        margin-top:30px;
    }
}